

body{
   background: #f6704b;
}

.accordion{
    margin-top: 150px;
    margin-left: 38%;
}

.accord-content {
    display: none;
    width:300px;

}
.not {
    font-size: 24px;
    line-height: 24px;
    color: #620808;
    font-family: "J FFlat";
    background: #f4ce74;
    border-bottom:solid 1px #dbbb6e;
}
.loc{

    font-size: 24px;
    line-height: 24px;
    color: #ffe9c1;
    font-family: "J FFlat";
    background: #620808;
    border-bottom:solid 1px #dbbb6e;
}

.mus{
    font-size: 24px;
    line-height: 24px;
    color: #f4ce74;
    font-family: "J FFlat";
    background: #a53f3f;
    border-bottom:solid 1px #dbbb6e;
}

.book{
    font-size: 24px;
    line-height: 24px;
    color: #a53f3f;
    font-family: "J FFlat";
    background: #ffe9c1;
    border-bottom:solid 1px #dbbb6e;
}

.ten{
    font-size: 24px;
    line-height: 24px;
    color: #ffe9c1;
    font-family: "J FFlat";
    background: #d5441c;
    border-bottom:solid 1px #dbbb6e;
}
.note{
    background: #f4ce74;
}

.loca{
    background: #620808;
    color: #ffe9c1;
}
.musi{
    color: #f4ce74;
    font-family: "J FFlat";
    background: #a53f3f;
}
.note{
    color: #620808;
}
.books{
    color: #a53f3f;
    font-family: "J FFlat";
    background: #ffe9c1;
}

.tend{
    color: #ffe9c1;
    font-family: "J FFlat";
    background: #d5441c;
}

.accord-header{
    width:400px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}